@import '../../utils/mixins';

:host {
  display: flex;
  color: #878787;
}

.flex-row {
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}


.icon {
  width: 2rem;
  height: 2rem;
}

.left, .right {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
  flex: 1
}


.left {
  justify-content: flex-start;
  & div {
    padding-left: 20px;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-left: 4px;
    }
  }
  @include md {
    display: none;
  }
}

.flex-no-wrap {
  flex-wrap: nowrap;
  & div {
    padding: 0;
  }
}

.icon {
  padding-right: 0;
}

.right {
  justify-content: flex-end;
  @include md {
    justify-content: center;
  }
  & div {
    padding: 0 10px;
    border-right: #DEDEDE  2px solid;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}
