<div class="flex-row">
  <div class="left">
    <div>CALL US NOW: 022 222 222</div>
    <div>English</div>
    <div>
      <div class="flex-row flex-no-wrap">
        <app-egypt-icon></app-egypt-icon>
      </div>
    </div>
    <div>Egypt</div>
  </div>
  <div class="right">
    <div>My Account</div>
    <div>My Wishlist</div>
    <div>Checkout</div>
  </div>
</div>
