@import '../../utils/mixins';

:host {
  display: flex;
  font-size: 12px;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  & div {
    padding: 0 8px;
    &:hover {
      cursor: pointer;
    }
  }
}
