:host(.category) {
  padding: 6px 0;
  &.active,&:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}
:host {
  display: inline-block;
  color: #747474;
  width: 100%;
  &.active {
    background-color: #ccc;
  }
}

span {
  padding: 6px 0 6px 0.5rem;
  width: calc(100% - 0.5rem);
  display: inline-block;
  &:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}
