@import '../../utils/mixins';

:host {
    display: flex;
    background: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    overflow: scroll;

}

article {
  box-shadow: 0 6px 6px rgba(0,0,0,0.14), 0 6px 6px rgba(0, 0, 0, 0.14);
  z-index: 100;
  background-color: white;
  border-radius: 4px;
  width: 60%;
  margin: 15vh auto;
  &>h2 {
    padding: 8px 16px 0 16px;
  }
  @include md {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.header {
  margin: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &>span {
    font-size: 20px;
  }
}

.no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  font-size: 24px;
}

.close-button {
  cursor: pointer;
}
