<article (click)="stop($event)">
  <div class="header">
    <h1>Cart Items</h1>
    <span class="close-button" (click)="this.onClose()">X</span>
  </div>
  <div *ngIf="(items | async) as items$">

    <app-product-list-item class="in-popup" *ngFor="let p of items$" [product]="p"></app-product-list-item>
    <div class="no-items" *ngIf="items$.length === 0">
      No Items in Cart.
    </div>
  </div>
  <br>
  <hr>
  <h2 style="text-align: end;">Total: EGP{{cartTotalPrice | async}}</h2>
</article>
