<div class="img-container">
  <img [lazyLoad]="product.img" alt="Product Img.">
  <div class="overlay">
    <div (click)="addToCart()">
      <app-icon icon="cart-add"></app-icon>
    </div>
    <div>
      <app-icon icon="search"></app-icon>
    </div>
    <div>
      <app-icon icon="heart"></app-icon>
    </div>
  </div>
</div>
<div class="details">
  <h4>{{product.name}}</h4>
  <br>
  <br>
  <small>lorem ipsum dummy text</small>
  <br>
  <br>
  <p>
    <s>EGP{{product.price + product.price*0.1}}</s>
    <b>
      &nbsp;<span class="real-price">EGP{{product.price}}</span>
    </b>
  </p>
</div>
