:host {
  display: flex;
  border-radius: 2px;
  flex-direction: column;
  align-items: flex-start;
  height: 90%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 10% 0;
}
:host(:hover) {
  background-color: white;
  box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0 0px 6px rgba(0,0,0,0.23);
}
img {
  width: 100%;
}

h4 {
  color: #0E4C8A;
}
@keyframes slide-left {
  0% { opacity: 0; -webkit-transform: translateX(10%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
div.img-container {
  padding: 0 10%;
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  &:hover {
    cursor: zoom-in;
    &>div.overlay {
      display: flex;
    }
  }
}

div.details {
  padding: 20px 10px;

}

.real-price {
  font-size: 1.1em;
}

div.overlay {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  display: none;
  animation: slide-left .3s ease-out;
  & div {
    background-color: #fed22d;
    color: #0E4C8A;
    fill: #0E4C8A;
    width: 20px;
    height: 20px;
    margin-bottom: 6px;
    padding: 4px;
    &:hover {
      cursor: pointer;
    }
    &:first-child {
      padding: 4px 4px 0 4px;
    }
  }
}
