<svg width="28" height="28" viewBox="0 0 28 28" fill="currentColor" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"
  stroke-linejoin="round">
  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
  <circle cx="12" cy="7" r="4"></circle>
</svg>
