@import './../../utils/mixins';

:host {
  display: flex;
  flex-direction: row;
  background-color: #084b8c;
  color: white;
  min-height: 62px;
  padding: 0 6px;
  width: calc(%100 - 12px);
  justify-content: space-around;
  align-items: stretch;
  &>header {
    display: none;
  }
  @include md {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    justify-content: flex-start;
    &>div {
      margin: 16px 0;
    }
    &>header {
      margin: 20px 0;
    }
    &.open {
      width: unset;
      min-width: 20%;
      padding: 0 18px;
    }
    &>header {
      display: flex;
    }
  }
  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    &:hover {
      cursor: pointer;
      color: #fed22d;
    }
  }
  &.logo {
    padding-top: 8px;
    padding-left: 8px;
    display: none;
    align-items: center;
    & h1 {
      font-family: 'Pragmatica';
      font-size: 48px;
      margin: 0;
      line-height: 0.7;
    }
  }
}

