<header class="logo">
  <h1>Rizk<span class="logo-accent-color">a</span>lla</h1>
</header>
<div>
  <ng-content></ng-content>
</div>
<div>Mobile &amp; Tablets</div>
<div>TVs &amp; Entertainment</div>
<div>Large Appliances</div>
<div>Kitchen Appliances</div>
<div>Air Conditioning</div>
<div>Personal Care</div>
<div>Home Accessories</div>
<footer>
  
</footer>