@import './../../utils/mixins';

:host {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
}

input {
  width: 100%;
  background-color: transparent;
  padding: 16px 0 14px;
  padding-left: 12px;
  border-radius: 4px;
  border: #dedede 1px solid;
  font-size: 14px;
  line-height: 1.25;
  @include md {
    margin: 12px 6px;
  }
}
input:focus {
  outline: none;
  &+.autocomplete {
    display: flex;
    flex-direction: column;
  }
}
.autocomplete {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;
  min-height: 2em;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  @include sm {
    left: 12px
  }
}
