<input type="text" (input)="onInput()" [(ngModel)]="searchText">
<div class="autocomplete">
  <div *ngFor="let p of matchingProducts | async">
    <app-product-list-item [product]="p"></app-product-list-item>
  </div>
</div>
