<div class="img-container">
  <img [lazyLoad]="product.img" [defaultImage]="product.img" alt="product-img">
</div>
<div class="item">
  <div class="details">
    <h3>{{product.name}}</h3>
    <div *ngIf="productIsCartItem" class="pricing">
      <p>
        <b>EGP{{product.price}}</b>
        <small>X {{product.count}}</small>
      </p>
    </div>
  </div>
  <div *ngIf="productIsCartItem" class="remove">
    <app-material-button (click)="removeItem()"></app-material-button>
  </div>
</div>
