@import '../../utils/mixins';

:host {
  display: flex;
  flex-direction: row;
  min-height: 88px;
  cursor: pointer;
  width: 100%;
  &:hover .item {
    color: #084B8C;
    background-color: #F4F4F4;
  }
  @include md {
    min-height: auto;
    align-content: center;
  }
}
.img-container {
  display: flex;
  margin: 10px 0 16px 20px;
  align-items: center;
  width: 140px;
  &>img {
    width: 100%;
  }
  @include md {
    display: none;
  }
}
.item {
  display: flex;
  padding: 8px 16px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  @include md {
    padding: 16px 12px;
  }
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}
:host(.in-popup) {
  & .img-container {
    display: flex;
  }
}
