@import './../utils/mixins';

.logo{
  padding-top: 8px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  & h1 {
    font-family: 'Pragmatica';
    font-size: 48px;
    color: #084b8c;
    margin: 0;
    line-height: 0.7;
  }
}
.logo-accent-color {
  color: #fed22d;
}

.profile-icon {
  width: 36px;
  height: 36px;
}
.cart-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.profile-section {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.profile-actions {
  height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  & a {
    font-size: 0.85em;
    font-weight: 600;
  }
}

app-cart-icon {
  height: 9mm;
  width: 9mm;
  align-self: center;
  &:hover {
    cursor: pointer;
  }
}
.filter-icon {
  width: 34px;
  justify-self: center;
}

.cart {
  position: relative;
}

.cart-popup {

  position: absolute;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-width: 48vw;
  right: 0;
  top: 0;
  height: 200px;
  background-color: #fefefe;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 12px;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.cart-title {
  font-size: 26px;
}

.cart-close-button {
  text-transform: uppercase;
  font-size: 28px;
  cursor: pointer;
}

.cart-content {
  display: flex;
  flex-direction: column;
  height: 40vh;
  overflow-y: scroll;
}

.cart-item {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  font-weight: 400;
}

.cart-footer {
  width: 100%;
  text-align: end;
  justify-self: flex-end;
  align-items: flex-end;
  padding: 10px 0;
  border-top: 2px solid black;
}
