<header></header>
<app-header></app-header>
<footer></footer>
<app-footer></app-footer>
<div class="logo">
  <h1>Rizk<span class="logo-accent-color">a</span>lla</h1>
</div>
<app-search-input (search)="handleFilter($event)"></app-search-input>
<div class="cart-section">
  <div class="cart">
    <app-cart-icon (click)="cartOpen = !cartOpen" [badgeValue]="cartCounter | async"></app-cart-icon>
    <div *ngIf="cartOpen" class="cart-popup">
      <div class="cart-header">
        <div class="cart-title">Cart Items</div>
        <div class="cart-close-button" (click)="cartOpen = false">X</div>
      </div>
      <hr>
      <hr>
      <div class="cart-content">
        <div *ngFor="let item of cartItems$ | async" class="cart-item">
          <div>
            <strong>{{item.name}}</strong>
          </div>
          <div>
            <span>EGP {{item.price}} </span>
            x{{item.count}}
            <app-material-button (click)="removeItem(item.id)">Remove</app-material-button>
          </div>
        </div>
      </div>
      <div class="cart-footer">
        EGP {{cartPrice$ | async}}
      </div>
    </div>
  </div>
  <div class="profile-section">
    <div class="profile-icon">
      <app-icon icon="person"></app-icon>
    </div>
    <div class="profile-actions">
      <div>
        <a>Sign In / Join Free</a>
      </div>
      <div>
        <p>Welcome Guest</p>
      </div>
    </div>
  </div>
</div>
<app-nav (click)="navbarOpen = false" [ngClass]="{open: navbarOpen}">
  <div class="profile-section">
    <div class="profile-icon">
      <app-icon icon="person"></app-icon>
    </div>
    <div class="profile-actions">
      <div>
        <a>Sign In / Join Free</a>
      </div>
      <div>
        <p>Welcome Guest</p>
      </div>
    </div>
  </div>
</app-nav>
<app-aside>
  <app-filters *ngIf="filters" [price]="filters.price" [size]="filters.size" (filter)="handleFilter($event)"></app-filters>
</app-aside>
<app-filters *ngIf="filters" class="filters" [ngClass]="{open: filtersOpen}" [price]="filters.price" [size]="filters.size"
  (filter)="handleFilter($event)"></app-filters>

<main>
  <img lazyLoad="https://placeimg.com/600/200/tech" alt="tech-ads" width="100%">
  <div class="product-grid">
    <app-product-card *ngFor="let p of products | async" [product]="p">
    </app-product-card>
  </div>
</main>
<app-cart-popup (close)="displayPopup = false" *ngIf="displayPopup"></app-cart-popup>
<app-icon (click)="toggleFilters()" class="filter-icon" icon="filter"></app-icon>
<app-icon (click)="toggleNavBar()" class="navbar-icon" icon="menu"></app-icon>
