@import './../utils/mixins';

:host {
  display: grid;
  width: 100%;
  grid-template-columns: 8vw 1fr 2fr 1fr 8vw;
  grid-template-rows: auto auto auto 1fr auto;
  grid-row-gap: 10px;
  grid-column-gap: 16px;
  // grid-template-rows: 26px auto minmax(0, auto) minmax(1fr, max-content) 26px;
  grid-template-areas:
  "header header header header header"
  ". logo search cart ."
  ". nav nav nav ."
  ". aside main main ."
  "footer footer footer footer footer";
  @include sm {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
    "nav-icon logo cart"
    "search search filter-icon"
    "filters filters filters"
    "main main main"
    "footer footer footer";
  }
  @include md {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "nav-icon logo cart"
    "nav nav nav"
    "search search filter-icon"
    "filters filters filters"
    "main main main"
    "footer footer footer";
  }
}

app-search-input {
  grid-area: search;
}


.cart-section {
  grid-area: cart;
}

.logo {
  grid-area: logo;
}

header {
  grid-area: header;
  background-color: #efefef;
}

app-header {
  grid-column: 2 / span 3;
  grid-row: 1;
  padding: 0.5em 0;
  font-size: 12px;
}

footer {
  grid-area: footer;
  background-color: #084b8c;
  min-height: 32px;
}
app-footer {
  grid-column: 2 / span 3;
  grid-row: 5;
  align-self: center;
  @include md {
    grid-row: 6;
    grid-area: footer;
    padding-left: 8px;

  }
}

app-nav {
  grid-area: nav;
}

app-aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

.filter-icon {
  grid-area: filter-icon;
  display: none;
  @include md {
    display: inline-block
  }
}


.product-grid {
  display: grid;
  margin: 20px 10px;
  grid-column-gap: 2%;
  grid-row-gap: 40px;
  grid-template-columns: repeat(3, 32%);
  grid-auto-rows: minmax(300px, max-content);
  @include md {
    grid-column-gap: 4%;
    grid-template-columns: repeat(2, 48%);
  }
  & div {
    min-height: 200px;
  }
}


// Queries Section

app-search-input {
  @include sm {
    padding-left: 12px;
    width: calc(100% - 12px);
  }
}

.profile-section, header, app-header {
  @include sm {
    display: none;
  }
}
app-nav .profile-section {
  @include md {
    display: flex;
  }
  display: none;
}
header, app-header, app-aside, .profile-section {
  @include md {
    display: none;
  }
}

.logo {
  padding: 16px;
  @include sm {
    height: 48px;
    justify-content: left;
  }
  & h1 {
    @include sm {
      font-size: 38px;
      justify-content: left;
    }
  }
}
.navbar-icon {
  display: none;
  justify-self: center;
  margin-left: 8px;
  width: 34px;
  @include sm {
    display: flex;
    grid-area: nav-icon;
  }
  @include md {
    display: flex;
    grid-area: nav-icon;
  }
}

.filters {
  display: none;
  grid-area: filters;
}


.open {
  display: flex;
}
