:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host, iframe, svg {
  width: 100%;
  height: 100%;
}
span {
  position: absolute;
  top: -30%;
  right: -30%;
  background-color: rgba($color: #fed22d, $alpha: 0.9);
  min-width: 1.5rem;
  color: #444;
  line-height: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
}
