<div class="aside-section-subtitle">
  <span>Price</span>
  <div class="slider">
    <nouislider [connect]="true" [min]="priceLimits.min" [tooltips]="[true,true]" [max]="priceLimits.max" [step]="100" [(ngModel)]="priceRange" (ngModelChange)="onChange($event,'price')"></nouislider>
  </div>
</div>
<div class="aside-section-subtitle">
  <span>Color</span>
  <div class="colors-section">
    <div style="background-color: red"></div>
    <div style="background-color: blue"></div>
    <div style="background-color: black"></div>
    <div style="background-color: white"></div>
    <div style="background-color: green"></div>
  </div>
</div>
<div class="aside-section-subtitle">
  <span>Size</span>
  <div class="slider">
    <nouislider [connect]="true" [config]="{range: sizeLimits}" [tooltips]="[true,true]" [step]="1" [(ngModel)]="sizeRange" (ngModelChange)="onChange($event,'size')"></nouislider>
  </div>
</div>
