@import '../../utils/mixins';
span {
  padding-left: 0.5rem;
}
:host {
    border-top: 1px #D0D0D0 solid;
    display: flex;
    flex-direction: column;
}
div.aside-section-subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #747474;
    padding: 6px 0;
  & span {
    padding-bottom: 6px;
    display: inline-block;
    color: #646464;
  }
}
.colors-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &>div {
    height: 1em;
    width: 1em;
    border: 1px #D0D0D0 solid;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  padding: 40px 28px 0;
}
