:host {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 28px;
}
input {
    position: absolute;
    top: 0;
    right: 0;
    &:first-child {
      left: 0;
      &::-webkit-slider-thumb {
        z-index: 19;
      }
    }
}
input:active {
  z-index: 10;
  width: 90%;
}




