<div class="aside-section">
  <div class="aside-section-title"><span>Shop By</span></div>
  <div class="aside-section-subtitle"><span>Categories</span></div>
  <app-category-accordion category="Mobiles & Tables" [items]="['1','2','3','4']"></app-category-accordion>
  <app-category-accordion category="TV's & Entertainment" [items]="['1','2','3','4']"></app-category-accordion>
  <app-category-accordion category="Large applicances" [items]="['1','2','3','4']"></app-category-accordion>
  <app-category-accordion category="Kitchen applicances" [items]="['1','2','3','4']"></app-category-accordion>
  <app-category-accordion category="Air Conditioning" [items]="['1','2','3','4']"></app-category-accordion>
  <app-category-accordion category="Personal Care" [items]="['1','2','3','4']"></app-category-accordion>
  <app-category-accordion category="Home Accessories" [items]="['1','2','3','4']"></app-category-accordion>
</div>
<div class="aside-section">
  <div class="aside-section-title"><span>Filters</span></div>

  <ng-content></ng-content>
</div>
<div class="aside-section">
  <div class="aside-section-title"><span>Best Sellers</span></div>
  <div *ngFor="let i of bestSellersRange" class="best-seller">
    <div>
      <app-icon icon="star" class="stars" *ngFor="let v of starRange"></app-icon>
      <p>Lorem Ipsum</p>
    </div>
    <div>
      <img src="http://via.placeholder.com/100x60" width="100%" alt="placeholder">
    </div>
    <div class="price">EGP9,999
      <s>EGP10,099</s>
    </div>
  </div>
</div>
<div class="aside-section">
  <div class="aside-section-title"><span>Custom Services</span></div>
  <div class="aside-item">
    <div class="aside-icon">
      <app-icon icon="truck"></app-icon>
    </div>
    <div>
      <div>
        <h6>FREE DELIVERY</h6>
        <p>From $59.89</p>
      </div>
    </div>
  </div>
  <div class="aside-item">
    <div class="aside-icon">
      <app-icon icon="help"></app-icon>
    </div>
    <div>
      <div>
        <h6>SUPPORT 24/7</h6>
        <p>Online 24 hours</p>
      </div>
    </div>
  </div>
  <div class="aside-item">
    <div class="aside-icon">
      <app-icon icon="renew"></app-icon>
    </div>
    <div>
      <div>
        <h6>FREE RETURN</h6>
        <p>within 14 days</p>
      </div>
    </div>
  </div>
</div>
