@import '../../utils/mixins';
:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  & span {
    padding-left: 0.5rem;
  }
}
.aside-section {
  background-color: #F4F4F4;
  margin-bottom: 20px;
  &>div {
    border-top: 1px #D0D0D0 solid;
    color: #747474;
  }
}



div.aside-section-title {
  background-color: #D6D6D6;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
  border-top: 2px #D0D0D0 solid;
  & span {
    color: #1E2122;
  }
}

div.aside-section-subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 0;

  & span {
    padding-bottom: 6px;
    display: inline-block;
    color: #646464;
  }
}

.stars {
  width: 10px;
  height: 10px;
  @include sm {
    width: 24px;
    height: 24px;
  }
  @include xl {
    width: 24px;
    height: 24px;
  }
}

.best-seller {
  & img {
    width: 100%;
  }
  @include sm {
    font-size: 14px
  }
  @include xl {
    font-size: 14px
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  flex-wrap: wrap;
  padding: 6px 0;

  & div {
    padding: 0 0.5rem;
  }
  & div.price {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    align-items: center;
    &>s {
      font-weight: 400;
      padding-left: 1em;
    }
  }
}



.aside-item {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
  & p {
    font-size: 10px;
  }
  & div:last-child {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
}

.aside-icon {
  display: flex;
  width: 36px;
  height: 100%;
  justify-content: center;
}
