body, html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
@font-face {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Pragmatica'), local('Pragmatica-Regular'),
      url(assets/fonts/pragmatica.woff) format('woff'),
      url(assets/fonts/pragmatica.ttf) format('truetype');
}
body.noscroll {
  overflow-y: hidden;
}


@import "~nouislider/distribute/nouislider.min.css";
